<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'app/css/app.css' %}">
{% endblock %}
{% block header %}
Список товаров
{% endblock %}

{% block main %}
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>PRICE</td>
        <td>DESCRIPTION</td>
        <td>CREATED</td>
        <td>UPDATED</td>
    </tr>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.created }}</td>
        <td>{{ product.updated }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block footer %}

{% endblock %}